<div class="container" style="padding-top: 5rem">
    <h2 style="margin-bottom: 4rem;">Login and Register</h2>
    <partial name="Registration" view-data="ViewData"/>
    <partial name="Login" view-data="ViewData"/>
</div>